nav.nav 
  .container
    .nav_content 
      a(href="#!").nav_logo 
        img.nav_img(src="../../images/png.woff", alt="")
      ul.nav_list 
        li.nav_item.active
          a.nav_link(href="#!") Home
        li.nav_item 
          a.nav_link(href="#!") About
        li.nav_item 
          a.nav_link(href="#!") Service
        li.nav_item 
          a.nav_link(href="#!") Portfolio
        li.nav_item 
          a.nav_link(href="#!") Client
        li.nav_item 
          a.nav_link(href="#!") Blog
        li.nav_item 
          a.nav_link(href="#!") Contact
    