.mybio{
  // background: black;
  // border: 1px solid #fff;
  // height: 900px;
  margin-top: 5%;
  transition: 1s;
//   opacity: 0;
  
  

  
  &_content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  & h1,h2,h3,h4,h5,h6,a,li,ul,p{
    color: #fff;
  }
  &_title_grup{
    width: 700px;
    margin-top: 5%;
  }
  &_title{
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    line-height: 24px;
  }
  &_text{
    font-weight: 100;
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    letter-spacing: 1px;
    margin-top: 7%;
  }
  &_list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  &_item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 345px;
    padding: 15px 30px 15px 0;
    
    
    & p{
      font-weight: 600;
      font-size: 18px;
      text-transform: capitalize;
    }
    & span{
      font-weight: 200;
      font-size: 17px;
      
    }
  }
}