.work{
    & h1,h2,h3,h4,h5,h6,ul,li,a,p,span,small,strong{
        color:#fff;
    }
    &_content{
        margin-top: 10%;
    }
    &_project_grup{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5%;
    }
    &_project{
        margin: 10px;
        width: 370px;
        height: 290px;
        overflow: hidden;
        border-radius:15px;
        position: relative;
        &:hover{
            & img{
                transform: scale(1.1);
            }
            & .work_project_info{
                opacity: 1;
            }
        }
        
    }
    &_project_logo{
        width: 100%;
        height: 100%;
        border-radius:15px;
        transition: 0.5s;
        
        
    }
    &_project_info{
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
        z-index: +2;
        background:linear-gradient(0deg, rgba(0,0,0,0.8239670868347339) 0%, rgba(0,0,0,0.4206057422969187) 100%);
        opacity: 0;
        transition: 0.5s;
    }
}