section.mybio
  .container
    .mybio_content
      .mybio_title_grup 
        h2.mybio_title My Biography
        p.mybio_text I'm a Freelancer Front-end Developer with 3 years of perience. I'm from San Francisco. I code and create web elements for amazing ple around the world. I like work with new people. New people new Experiences.
        ul.mybio_list 
          li.mybio_item 
            p Name: &nbsp;
            span  Bilmer Senberov
            //-1
          li.mybio_item 
            p Birthday: &nbsp;
            span  17 march 2004
            //-2
          li.mybio_item 
            p age: &nbsp;
            span  18 years
            //-3
          li.mybio_item 
            p Address: &nbsp;
            span  Tashkent
            //-4
          li.mybio_item 
            p Phone: &nbsp;
            span  (95) 019 28 24
            //-5
          li.mybio_item 
            p Email: &nbsp;
            span  bilmerdicertdars@gmail.com
            //-6
          li.mybio_item 
            p Freelance: &nbsp;
            span  Bilmer&nbsp;Senber
            //-8
            
            
