section.myscill
  .container
    .myscill_title_grup
      h2.myscill_title My Skills
      .myscill_span_gp 
        span 
        small 
        span 
    .myscill_content
        .myscill_content_jg
            h5.myscill_span_title UI DESIGNER
            .myscill_cd 
                .myscill_span.myscill_span_1
                    p 80%
        .myscill_content_jg
            h5.myscill_span_title WEB DEVELOPMENT
            .myscill_cd 
                .myscill_span.myscill_span_2
                    p 60%
        .myscill_content_jg
            h5.myscill_span_title PHOTOGRAPHY
            .myscill_cd 
                .myscill_span.myscill_span_3
                    p 75%
        .myscill_content_jg
            h5.myscill_span_title SEO & MARKETING
            .myscill_cd 
                .myscill_span.myscill_span_4
                    p 70%
        
        
        