section.section
  .section_img_logo 
    img.section_logo(src="../../images/slider1.woff", alt="")
  .container 
    .section_title_grup
      img.section_title_img(src="../../images/png.woff", alt="")
      p.section_hello Hello,
      h2.section_title I'm web developer
      ul.section_list 
        li.section_item 
          a.section_link(href="#!") Web Designer
        li.section_item 
          a.section_link(href="#!") Web Devlopment
        li.section_item 
          a.section_link(href="#!") Freelancer
      .section_icon_grup 
        a(href="#!").section_apple_icon.fab
        a(href="#!").section_apple_icon.fab
        a(href="#!").section_apple_icon.fab
        a(href="#!").section_apple_icon.fab
        a(href="#!").section_apple_icon.fab