section.service 
    .container 
        .service_content
            .myscill_title_grup
                  h2.myscill_title Our Service
                  .myscill_span_gp 
                    span 
                    small 
                    span
            .service_svg_dev
                .service_list 
                    i.service_icon.service_icon_2.far
                    h2.service_item Web Devlopment
                    p.service_link I design and develop service cust of all sizes, specializing in creating lish, modern websites
                .service_list 
                    i.service_icon.service_icon_3.far
                    h2.service_item App Devlopment
                    p.service_link I design and develop service cust of all sizes, specializing in creating lish, modern websites
                .service_list 
                    i.service_icon.service_icon_4.far
                    h2.service_item Seo Marketing
                    p.service_link I design and develop service cust of all sizes, specializing in creating lish, modern websites
                .service_list 
                    i.service_icon.service_icon_1.far
                    h2.service_item Graphic Design
                    p.service_link I design and develop service cust of all sizes, specializing in creating lish, modern websites
                .service_list 
                    i.service_icon.service_icon_5.far
                    h2.service_item web support
                    p.service_link I design and develop service cust of all sizes, specializing in creating lish, modern websites
        