section.work 
    .container
        .work_content
            .myscill_title_grup
              h2.myscill_title Latest Projects
              .myscill_span_gp 
                span 
                small 
                span
            .work_project_grup
                .work_project
                    img.work_project_logo(src="../../images/work_1.woff", alt="")
                    .work_project_info 
                        h2.work_project_title 
                .work_project
                    img.work_project_logo(src="../../images/work_2.woff", alt="")
                    .work_project_info 
                        h2.work_project_title 
                .work_project
                    img.work_project_logo(src="../../images/work_3.woff", alt="")
                    .work_project_info 
                        h2.work_project_title 
                .work_project
                    img.work_project_logo(src="../../images/work_4.woff", alt="")
                    .work_project_info 
                        h2.work_project_title 
                .work_project
                    img.work_project_logo(src="../../images/work_5.woff", alt="")
                    .work_project_info 
                        h2.work_project_title 
                .work_project
                    img.work_project_logo(src="../../images/work_6.woff", alt="")
                    .work_project_info 
                        h2.work_project_title 
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                